target/

.settings
.project
.classpath

.idea
*.iml

.metals
.bloop
.bsp

#testing files
*.csv

#config CSV
!/src/main/storages/CSV/
/src/main/storages/CSV/*
!/src/main/storages/CSV/csv_example.conf
#config Snowflake
!/src/main/storages/snowflake/
/src/main/storages/snowflake/*
!/src/main/storages/snowflake/snowflake_example.conf
